@import url('https://fonts.google.com/share?selection.family=Roboto+Mono:ital,wght@0,100..700;1,100..700');

#background {
    height:75px;
    background-color:#9CC1BE;
}

body {
    background-color:#9CC1BE;
    font-size:22px;
    padding:0;
    margin:0;
    font-family:'Courier New', Courier;
}

.book, .join {
    background-color:#c5f6f2;
    color:black;
    text-decoration:none;
    font-size:18px;
    padding:15px 30px;
    margin-top:50px;
    border-radius:5px;
    font-size:18px;
}

.book:hover, .join:hover {
    background-color:#2F7360;
    color:black;
}

.button_box {
    text-align:center;
}

.camping_card {
    margin:200px 0;
}

.card_img {
    border:10px solid black;
}

#content {
    max-width:1600px;
    margin: 0 auto;
}

footer {
    background-color:#F9FAF9;
    color:black;
    padding:25px 50px;
    margin-top:200px;
}

footer a {
    color:black;
    text-decoration:none;
}

footer a:hover {
    color:black;
}

footer p {
    font-size:1.2em;
}

footer p a:hover {
    text-decoration:underline;
}

footer .social img {
    padding-top:15px;
}

h2 {
    margin:0;
}

h4 {
    color:black;
}

header {
    background-color:white;
}

#hero_image {
    width:100%;
}

#hero_msg h1 {
    text-align:center;
}

#hero_msg h4 {
    text-align:center;
}

.home_title {
    color:black;
    font-size:2em;
    margin-top:10px;
    font-size:2em;
}

.icon {
    width:80px;
    padding-top:10px;
}

.logo {
    width:80px;
}

#logo_link {
    padding-top:5px;
}

main section {
    text-align:center;
}

main section img {
    box-sizing:border-box;
}

.msg {
    background-color:#F9FAF9;
    line-height:1.5em;
    padding:35px;
}

.msg h2 {
    color:black;
}

.msg p {
    color:black;
    font-size:0.8em;
    padding-bottom:15px;
    font-size:0.8em;
}

nav a {
    text-align:center;
    color:black;
    text-decoration:none;
    padding:35px;
}

nav a:hover {
    background-color:#2F7360;
    color:black;
}

.rapids_card {
    margin:200px 0;
}

.rivers_card {
    margin:200px 0;
}